!!!
html
  head
    title Cole Wiley
    link(type='text/css', rel='stylesheet', href='./css/index.css')
    link(rel='icon', type='image/x-icon', href='./images/fav.gif')
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700,700italic|Adamina' rel='stylesheet' type='text/css'>
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35103017-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #todo
      h1 hello world
      br
      .bio
        h4 My name is Cole Wiley.
        br
        p I love <span class='code'>code</span>, <span class='art'>art</span>, and <span class='fire'>fire</span> (especially when mixed together).
        p I am fan of <strong>rye whiskey</strong> neat and <strong>espresso</strong> in tiny cups.
        p I am developer by trade and artist by addiction. If you are looking for aritst me you should go here: &nbsp
          a(href='http://hcwiley.com') hcwiley.com
        p Otherwise here's the things you need to know about developer me:
        #dev-links
          a(href='http://github.com/hcwiley', target='blank', title='Github') 
            #github.dev-link
          a(href='mailto:cole@hcwiley.com', target='blank', title='not so snailish mail')
            #email.dev-link
          a(href='https://www.dropbox.com/s/bd4tl0t8lpsd5m8/H-Cole-Wiley-Resume.pdf', target='blank', title='resume')
            #resume.dev-link
      br
      .content
        br
        p And here's a few websites I have either made or worked on as part of a small team
        br
        ul
          li
            a(target='blank', href='http://hcwiley.com') H. Cole Wiley - Artist Portfolio Website
          li
            a(target='blank', href='http://intotheabyss.org') Art & Design into the Abyss
          li
            a(target='blank', href='http://yeswekern.org/global_vision') Global Vision Print Making Promotional Website
          li
            a(target='blank', href='http://doretax.com') Dor&eacute; Tax
          li
            a(target='blank', href='http://gallery.art72.org') A Community Gallery

