!!!
html
  head
    title Cole Wiley
    link(type='text/css', href='./css/index.css')
    link(type='image/x-icon', href='images/fav.gif')
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35103017-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #todo
      h1 Hola Mundo
      p My name is Cole Wiley.
      p I love <span class='code'>code</span>, <span class='art'>art</span>, and <span class='fire'>fire</span> especially when mixed together.
      br
      p I am developer by trade and artist by addiction

